body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-header h4 {
    margin-bottom: 0;
}
.btn-eliminar {
    line-height: 1;
}

.chart-container {
  position: relative;
  height: 300px; /* Puedes ajustar esta altura a tu gusto (ej. 250px, 350px) */
  width: 100%;
}
